* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  background-color: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.btn {
  display: inline-block;
  background-color: black;
  border-radius: 24.5px;
  color: white;
  font-size: 16px;
  font-family: Poppins;
  padding: 0 16px;
  font-weight: 600;
  line-height: 50px;
  word-wrap: break-word;
  min-width: 118px;
  text-align: center;
}
.nav a {
  color: #171100;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav a:hover {
  text-shadow: 1px 0px 0px currentColor;
}

nav li.active a::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
  display: inline-block;
  position: absolute;
  left: 21px;
  bottom: 6px;
}
nav li.active a {
  text-shadow: 1px 0px 0px currentColor;
}
.header .btn-sign-up {
  min-width: 144px;
  margin-left: 49px;
}
