* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sens", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.heading-level2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}
a {
  text-decoration: none;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.break-all {
  word-break: break-all;
}
.header {
  background-color: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.btn {
  display: inline-block;
  background-color: black;
  border-radius: 999px;
  color: white;
  font-size: 16px;
  font-family: Poppins;
  padding: 0 16px;
  font-weight: 600;
  line-height: 50px;
  word-wrap: break-word;
  min-width: 118px;
  text-align: center;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.nav a {
  color: #171100;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav a:hover {
  text-shadow: 1px 0px 0px currentColor;
}

nav li.active a::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
  display: inline-block;
  position: absolute;
  left: 21px;
  bottom: 6px;
}
nav li.active a {
  text-shadow: 1px 0px 0px currentColor;
}
.header .btn-sign-up {
  min-width: 144px;
  margin-left: 49px;
}
/* =======hero========= */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}
/* =======hero left========= */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero .hero-summary {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  left: 300px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff9e8;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: ;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .info .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.hero-summary .info .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
/* ===========hero  right========= */
.hero .content-block {
  width: 52%;
  margin-left: 130px;
  margin-top: 64px;
}
.hero .heading {
  color: #171100;
  font-family: var(font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}
.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
}
.hero-cta {
  background-color: var(--primary-color);
  line-height: 64px;
  min-width: 180px;
}
.hero .watch-video {
  border: none;
  margin-left: 28px;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
  margin-left: 14px;
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
/* ========popular============ */
.popular {
  padding: 65px 0;

  margin-top: 135px;
}
.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 18px;
  line-height: 1.66; /* 166.667% */
}
.popular-top .control {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}
/* ========= course-list======== */
.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.popular .course-item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
  flex: 1;
}
.popular .course-item .thumb {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  height: 278px;
}

.popular .course-item:hover {
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .course-item .info {
  padding: 16px 22px 22px;
}
.popular .head .rating,
.popular .course-item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .head .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}
.popular .head .value {
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.85; /* 185.714% */
}
.popular .course-item .foot {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}
.popular .course-item .btn-book {
  border: none;
}
.popular .course-item .btn-book:hover {
  border-radius: 25px;
  background: #ffb900;
}
